XML-DTD/Covid19-TIA_ZonasBásicasSalud.dtd

<!ELEMENT root (data*)>
<!ELEMENT data (codigo_geometria, zona_basica_salud, tasa_incidencia_acumulada_ultimos_14dias, tasa_incidencia_acumulada_total, casos_confirmados_totales, fecha_informe)>
<!ELEMENT codigo_geometria (#PCDATA)>
<!ELEMENT zona_basica_salud (#PCDATA)>
<!ELEMENT tasa_incidencia_acumulada_ultimos_14dias (#PCDATA)>
<!ELEMENT tasa_incidencia_acumulada_total (#PCDATA)>
<!ELEMENT casos_confirmados_totales (#PCDATA)>
<!ELEMENT fecha_informe (#PCDATA)>