XML-DTD/Covid19-TIA_ZonasBásicasSalud_Mayores60.dtd

<!ELEMENT root (data*)>
<!ELEMENT data (codigo_geometria, zona_basica_salud, tasa_incidencia_acumulada_P60mas_ultimos_14dias, casos_confirmados_P60mas_ultimos_14dias, fecha_informe)>
<!ELEMENT codigo_geometria (#PCDATA)>
<!ELEMENT zona_basica_salud (#PCDATA)>
<!ELEMENT tasa_incidencia_acumulada_P60mas_ultimos_14dias (#PCDATA)>
<!ELEMENT casos_confirmados_P60mas_ultimos_14dias (#PCDATA)>
<!ELEMENT fecha_informe (#PCDATA)>